.container{
    width: 100%;
    height: 100%;
    position: relative;
    // z-index: 800;
    overflow: auto;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // padding: 20px;
}

.paper{
    margin: 20px auto;
    width:787.5px;
    height: 1113.75px;
    background: radial-gradient(#08affc, #00ff80);;
    z-index: 9;
    // flex-shrink: 2;
}

.box{
    width: 100px;
    height: 100px;
    background-color: white;
}